# gitignore all file endings from gromacs except mdp and fasta:

**.gro**
**.top**
**.itp**
**.log**
**.tpr**
**.trr**
**.edr**
**.cpt**
**.xvg**
**.ndx**
**.xtc**
**.mol2**
**.pdb**
**.xyz**
**job.**
**.vmd**

**.out**
**.err**
**.npy**


**.png

# python stuff:
**.pyc
__pycache__/
**.pyo

#vscode:
.vscode/
*.code-workspace